{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="sidebar">
        <h1>DEV</h1>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="#" class="active">Мои задания</a></li>
            <li><a href="#" >Все задания</a></li>
            <li><a href="#" >Домашнее задание</a></li>
            <li><a href="#" >Профиль</a></li>
        </ul>
        <a href="#">Выход</a>
    </div>
    <div class="main-content">
        <h2>Задания</h2>
        <div class="task-container">
            <div class="task-box"></div>
            <div class="task-box"></div>
            <div class="task-box"></div>
            <div class="task-box"></div>
        </div>
        <div class="navigation">
            <button class="prev">◀</button>
            <button class="next">▶</button>
        </div>
        <div class="user-info">
            <p>EXP: 1200</p>
            <p>Даниил Галкина</p>
        </div>
    </div>
</body>
</html>